@model UsuarioModel
@{
    ViewData["Title"] = "Confirmação para excluir o usuario";
}

<div class="text-center"
    <h3>Confirma a exclusão do usuário(@Model.Nome)?</h3>
</div>

<div class="d-grid gap-3">

    <a class="btn btn-danger btn-block" role="button" asp-controller="Usuario" asp-action="Index">Cancelar</a>
    <a class="btn btn-danger btn-block" role="button" asp-controller="Usuario" asp-route-id="@Model.Id" asp-action="Excluir">Confirmar</a>

</div>