@model List<UsuarioModel>
@{
    ViewData["Title"] = "Listagem de usuários";
}

<div class="text-center"
    <br/>

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-danger" role="button" asp-asp-controller="Usuario" asp-action="Criar" >Adicionar novo usuário</a>
    </div>
     <br/>

    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
                @TempData["MensagemSucesso"]
        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            @TempData["MensagemErro"]
        </div>
    }

    <br/>
    <h1 class="display-2">Listagem de usuários</h1>
    <table class="table" id="table-usuarios">
        <thead>
            <tr>
            </tr>
        </thead>
    </table>


    <div id="modalContatosUsuario" class="modal" tabindex="-1">
        <div class="modal" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Listagem de contatos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <table class="table" id="table-contatos">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                       
                        </tr>
                    </thead>

                </table>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>

